.pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .page-item {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
}