header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: calc(100% - 60px);
  height: 100px;
  top: 30px;
  left: 30px;
  z-index: 10;
  .logo {
    background: url('./img/logo-white.png') center/contain no-repeat;
    width: 78px;
    height: 40px;
  }
  .hamburger {
    background: $white;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    position: relative;
    input {
      border: none;
      border-radius: 50%;
      cursor: pointer;
      width: 100%;
      height: 100%;
      opacity: 0;
      position: relative;
      z-index: 1;
    }
    span {
      background: $black;
      border-radius: 20px;
      width: 36px;
      height: 3px;
      position: absolute;
      top: 50%;
      left: 50%;
      @include tranform_c(translate(-50%, -50%));
      @include transition_c(all .5s ease-out);
      &::before,
      &::after {
        content: '';
        position: absolute;
        background: $black;
        border-radius: 10px;
        width: 36px;
        height: 3px;
        @include transition_c(all .5s ease-out);
      }
      &::before {
        top: -9px;
        left: 0;
      }
      &::after {
        top: 9px;
        right: 0;
      }
    }

    &:hover {
      opacity: 1;
      span {
        &::before,
        &::after {
          width: 50%;
        }
      }
    }

    input:checked ~ {
      span {
        @include tranform_c(translate(-50%, -50%) rotate(-45deg));
        &::before {
          width: 100%;
          top: 50%;
          left: 50%;
          @include tranform_c(translate(-50%, -50%) rotate(90deg));
        }
        &::after {
          width: 100%;
          top: 50%;
          right: 50%;
          @include tranform_c(translate(50%, -50%) rotate(90deg));
        }
      }
    }
  }
}