@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #000;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.7;
  word-break: break-word; }

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  a:link, a:visited {
    color: currentColor; }
  a:active, a:hover {
    opacity: 0.5; }

ul {
  list-style: none; }

button {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  button:focus {
    outline: none; }

img {
  height: auto;
  vertical-align: middle; }

input:focus {
  outline: none; }

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 0 auto; }
  .spinner__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 115px;
    padding: 3px;
    position: absolute; }
    .spinner__item--01 {
      animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
      border: 4px solid #55c57a; }
    .spinner__item--02 {
      animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
      border: 4px solid #ff0040;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

@keyframes configure-clockwise {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  25% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  75% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes configure-xclockwise {
  0% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  25% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  50% {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  75% {
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    -o-transform: rotate(-225deg);
    transform: rotate(-225deg); }
  100% {
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    -ms-transform: rotate(-315deg);
    -o-transform: rotate(-315deg);
    transform: rotate(-315deg); } }

.heading-primary {
  backface-visibility: hidden;
  color: #fff;
  text-transform: uppercase;
  text-align: center; }
  .heading-primary--main {
    display: block;
    font-size: 54px;
    font-weight: 400;
    letter-spacing: 32px; }
  .heading-primary--sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 16px; }

.heading-secondary {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: .2rem;
  text-align: center;
  text-transform: uppercase; }

.heading-tertiary {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.btn {
  background: #fff;
  border: none;
  border-radius: 10rem;
  color: #777;
  cursor: pointer;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 40px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  .btn::after {
    content: "";
    position: absolute;
    background: #fff;
    border-radius: 10rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
  .btn--green {
    background: #55c57a;
    color: #fff;
    margin: 50px auto 30px; }
    .btn--green::after {
      background: #55c57a; }
  .btn:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px); }
    .btn:hover::after {
      opacity: 0;
      -webkit-transform: scale(1.4, 1.6);
      -moz-transform: scale(1.4, 1.6);
      -ms-transform: scale(1.4, 1.6);
      -o-transform: scale(1.4, 1.6);
      transform: scale(1.4, 1.6); }
  .btn:active, .btn:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    outline: none;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px); }

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  .pagination .page-item {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 5px; }
    .pagination .page-item .page-link {
      border-radius: 50%;
      color: #55c57a;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 10;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
      .pagination .page-item .page-link::before {
        content: '';
        position: absolute;
        background: linear-gradient(to right bottom, #7ed56f, #28b485);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        z-index: -1;
        -webkit-transform: translate(-50%, -50%) scale(0);
        -moz-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
        -o-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out; }
      .pagination .page-item .page-link:hover {
        color: #fff;
        opacity: 1; }
        .pagination .page-item .page-link:hover::before {
          -webkit-transform: translate(-50%, -50%) scale(1);
          -moz-transform: translate(-50%, -50%) scale(1);
          -ms-transform: translate(-50%, -50%) scale(1);
          -o-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1); }
    .pagination .page-item.disabled, .pagination .page-item.active {
      pointer-events: none; }
    .pagination .page-item.active .page-link {
      color: #ff0040; }
    .pagination .page-item.disabled {
      visibility: hidden; }
    .pagination .page-item:first-child .page-link,
    .pagination .page-item:last-child .page-link {
      font-size: 0; }
      .pagination .page-item:first-child .page-link::after,
      .pagination .page-item:last-child .page-link::after {
        content: '';
        position: absolute;
        border-top: 2px solid #55c57a;
        border-right: 2px solid #55c57a;
        width: 8px;
        height: 8px;
        top: 50%;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
    .pagination .page-item:first-child .page-link::after {
      left: calc(50% + 2px);
      -webkit-transform: translate(-50%, -50%) rotate(-135deg);
      -moz-transform: translate(-50%, -50%) rotate(-135deg);
      -ms-transform: translate(-50%, -50%) rotate(-135deg);
      -o-transform: translate(-50%, -50%) rotate(-135deg);
      transform: translate(-50%, -50%) rotate(-135deg); }
    .pagination .page-item:first-child .page-link:hover::after {
      border-color: #fff;
      left: calc(50% - 2px); }
    .pagination .page-item:last-child .page-link::after {
      left: calc(50% - 2px);
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -moz-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      -o-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
    .pagination .page-item:last-child .page-link:hover::after {
      border-color: #fff;
      left: calc(50% + 2px); }

.modal-backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1040; }

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2000; }
  .modal .modal-dialog {
    background: #fff;
    border-radius: 10px;
    width: calc(100% - 30px);
    max-width: 800px;
    height: calc(100% - 60px);
    padding: 30px;
    margin: 0 auto;
    position: relative;
    top: 30px;
    overflow: auto; }
    .modal .modal-dialog .modal-header .modal-title {
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      border-bottom: 1px solid #333;
      -webkit-background-clip: text;
      color: transparent;
      font-size: 20px;
      font-weight: 700;
      padding-right: 50px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      text-transform: uppercase; }
    .modal .modal-dialog .modal-header .close {
      color: #55c57a;
      display: inline-block;
      font-size: 40px;
      text-decoration: none;
      line-height: 24px;
      position: absolute;
      top: 36px;
      right: 30px;
      transition: all 0.2s;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
      .modal .modal-dialog .modal-header .close:hover {
        color: #ff0040; }
    .modal .modal-dialog .modal-body {
      overflow: hidden; }
      .modal .modal-dialog .modal-body hr {
        background: #333;
        border: none;
        height: 1px; }
      .modal .modal-dialog .modal-body p {
        margin-bottom: 10px; }
        .modal .modal-dialog .modal-body p code {
          color: #55c57a; }
      .modal .modal-dialog .modal-body pre {
        background: #f4f2f2;
        border: 1px solid #777;
        border-radius: 6px;
        font-size: 12px;
        padding: 10px 20px;
        margin-bottom: 10px;
        overflow: auto; }
      .modal .modal-dialog .modal-body h2 {
        background-image: linear-gradient(to right, #7ed56f, #28b485);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase; }
      .modal .modal-dialog .modal-body img {
        display: block;
        width: 100%;
        margin: 0 auto; }
      .modal .modal-dialog .modal-body .cmt {
        background-image: linear-gradient(to right, #7ed56f, #28b485);
        border-top: 1px solid #333;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 20px;
        font-weight: 700;
        padding: 10px 0;
        text-transform: uppercase; }
      .modal .modal-dialog .modal-body .list-cmts li {
        display: flex;
        align-items: flex-start; }
        .modal .modal-dialog .modal-body .list-cmts li:not(:last-child) {
          margin-bottom: 30px; }
        .modal .modal-dialog .modal-body .list-cmts li img {
          width: 128px;
          margin-right: 15px; }
        .modal .modal-dialog .modal-body .list-cmts li .media-body {
          flex: 1; }
          .modal .modal-dialog .modal-body .list-cmts li .media-body .time {
            color: #999;
            font-size: 14px; }

footer {
  background: #333;
  text-align: center;
  padding: 40px 20px; }
  footer .logo {
    display: inline-block; }
    footer .logo img {
      width: 100%;
      max-width: 150px; }
  footer .copyright {
    color: #fff;
    padding-top: 30px;
    margin-top: 30px;
    position: relative; }
    footer .copyright::before {
      content: '';
      position: absolute;
      background: #fff;
      width: calc(100% - 30px);
      max-width: 400px;
      height: 2px;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  header .logo {
    background: url("./img/logo-white.png") center/contain no-repeat;
    width: 78px;
    height: 40px; }
  header .hamburger {
    width: 62px;
    height: 62px;
    position: relative;
    z-index: 20;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    header .hamburger input {
      border: none;
      border-radius: 50%;
      cursor: pointer;
      width: 100%;
      height: 100%;
      opacity: 0;
      position: relative;
      z-index: 2; }
    header .hamburger label {
      position: absolute;
      background: #fff;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
      header .hamburger label span {
        background: #000;
        border-radius: 20px;
        width: 36px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out; }
        header .hamburger label span::before, header .hamburger label span::after {
          content: '';
          position: absolute;
          background: #000;
          border-radius: 10px;
          width: 36px;
          height: 2px;
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out; }
        header .hamburger label span::before {
          top: -9px;
          left: 0; }
        header .hamburger label span::after {
          top: 9px;
          right: 0; }
    header .hamburger .bg {
      position: absolute;
      background: radial-gradient(#7ed56f, #28b485);
      border-radius: 50%;
      height: 52px;
      width: 52px;
      top: 50%;
      left: 50%;
      z-index: -1;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
      -moz-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
      -ms-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
      -o-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    header .hamburger .nav {
      position: fixed;
      width: 0;
      height: 100vh;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 1;
      pointer-events: none;
      -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -ms-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      header .hamburger .nav ul {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        list-style: none;
        text-align: center;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        header .hamburger .nav ul li {
          margin: 10px; }
          header .hamburger .nav ul li a {
            background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
            background-size: 220%;
            color: #fff;
            display: inline-block;
            font-size: 30px;
            font-weight: 300;
            text-transform: uppercase;
            padding: 10px 20px;
            -webkit-transition: all 0.4s ease-out;
            -moz-transition: all 0.4s ease-out;
            -ms-transition: all 0.4s ease-out;
            -o-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out; }
            header .hamburger .nav ul li a.hide {
              pointer-events: none; }
            header .hamburger .nav ul li a em {
              display: inline-block;
              font-style: normal;
              margin-right: 15px; }
            header .hamburger .nav ul li a:hover {
              background-position: 100%;
              color: #55c57a;
              opacity: 1;
              -webkit-transform: translateX(10px);
              -moz-transform: translateX(10px);
              -ms-transform: translateX(10px);
              -o-transform: translateX(10px);
              transform: translateX(10px); }
    header .hamburger:hover {
      opacity: 1; }
      header .hamburger:hover span::before, header .hamburger:hover span::after {
        width: 50%; }
    header .hamburger input:checked ~ label span {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -moz-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
      -o-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg); }
      header .hamburger input:checked ~ label span::before {
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(90deg);
        -moz-transform: translate(-50%, -50%) rotate(90deg);
        -ms-transform: translate(-50%, -50%) rotate(90deg);
        -o-transform: translate(-50%, -50%) rotate(90deg);
        transform: translate(-50%, -50%) rotate(90deg); }
      header .hamburger input:checked ~ label span::after {
        width: 100%;
        top: 50%;
        right: 50%;
        -webkit-transform: translate(50%, -50%) rotate(90deg);
        -moz-transform: translate(50%, -50%) rotate(90deg);
        -ms-transform: translate(50%, -50%) rotate(90deg);
        -o-transform: translate(50%, -50%) rotate(90deg);
        transform: translate(50%, -50%) rotate(90deg); }
    header .hamburger input:checked ~ .bg {
      -webkit-transform: scale(120);
      -moz-transform: scale(120);
      -ms-transform: scale(120);
      -o-transform: scale(120);
      transform: scale(120); }
    header .hamburger input:checked ~ .nav {
      opacity: 1;
      pointer-events: auto;
      width: 100%; }
  header.active {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
    header.active .logo {
      background-image: url("./img/logo.png"); }
    header.active .hamburger label {
      background: #000; }
      header.active .hamburger label span,
      header.active .hamburger label span::before,
      header.active .hamburger label span::after {
        background: #fff; }

#home main {
  background: #f0eeee;
  padding-bottom: 50px; }
  #home main .first-view {
    background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("./img/hero.jpg") top/cover no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    width: 100%;
    height: 95vh;
    text-align: center;
    position: relative; }
    #home main .first-view__box {
      position: absolute;
      width: 100%;
      top: 40%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      #home main .first-view__box form {
        margin-top: 60px;
        position: relative; }
        #home main .first-view__box form label {
          background: linear-gradient(to right bottom, #ff0040, #ff4000);
          border-radius: 100px;
          color: #ff0040;
          position: absolute;
          width: 400px;
          bottom: calc(100% + 10px);
          left: 50%;
          padding: 4px 26px;
          text-align: left;
          line-height: 28px;
          opacity: 0;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out; }
          #home main .first-view__box form label::before {
            content: '';
            position: absolute;
            background: #fff;
            border-radius: 100px;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -ms-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out; }
          #home main .first-view__box form label span {
            position: relative; }
          #home main .first-view__box form label.show {
            opacity: 1; }
        #home main .first-view__box form input {
          border: none;
          border-radius: 100px;
          color: #55c57a;
          width: 400px;
          height: 48px;
          font-size: 18px;
          padding: 10px 26px;
          margin-bottom: 20px;
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out; }
          #home main .first-view__box form input:focus {
            width: 460px; }
  #home main .main-content .issues {
    width: 100%;
    max-width: 880px;
    padding-top: 50px;
    margin: 0 auto; }
    #home main .main-content .issues li {
      background: rgba(255, 255, 255, 0.6);
      box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      cursor: pointer;
      padding: 60px 60px 60px 90px;
      min-height: 265px;
      -webkit-transform: skew(-12deg);
      -moz-transform: skew(-12deg);
      -ms-transform: skew(-12deg);
      -o-transform: skew(-12deg);
      transform: skew(-12deg); }
      #home main .main-content .issues li:not(:last-child) {
        margin-bottom: 50px; }
      #home main .main-content .issues li .info {
        -webkit-transform: skewX(12deg);
        -moz-transform: skewX(12deg);
        -ms-transform: skewX(12deg);
        -o-transform: skewX(12deg);
        transform: skewX(12deg); }
        #home main .main-content .issues li .info__shape {
          border-radius: 50%;
          float: left;
          width: 150px;
          height: 150px;
          position: relative;
          overflow: hidden;
          -webkit-transform: translateX(-30px);
          -moz-transform: translateX(-30px);
          -ms-transform: translateX(-30px);
          -o-transform: translateX(-30px);
          transform: translateX(-30px); }
          @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            #home main .main-content .issues li .info__shape {
              -webkit-clip-path: circle(50% at 50% 50%);
              clip-path: circle(50% at 50% 50%);
              -webkit-shape-outside: circle(50% at 50% 50%);
              shape-outside: circle(50% at 50% 50%);
              border-radius: 0; } }
          #home main .main-content .issues li .info__shape img {
            backface-visibility: hidden;
            height: 100%;
            -webkit-transform: scale(1.4);
            -moz-transform: scale(1.4);
            -ms-transform: scale(1.4);
            -o-transform: scale(1.4);
            transform: scale(1.4);
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -ms-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out; }
          #home main .main-content .issues li .info__shape figcaption {
            backface-visibility: hidden;
            color: #fff;
            font-size: 17px;
            text-transform: uppercase;
            text-align: center;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, 20%);
            -moz-transform: translate(-50%, 20%);
            -ms-transform: translate(-50%, 20%);
            -o-transform: translate(-50%, 20%);
            transform: translate(-50%, 20%);
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -ms-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out; }
        #home main .main-content .issues li .info__txt .time {
          color: #999; }
        #home main .main-content .issues li .info__txt .des {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        #home main .main-content .issues li .info__txt .tag {
          margin-top: 10px; }
          #home main .main-content .issues li .info__txt .tag span {
            background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
            border-radius: 6px;
            color: #fff;
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            padding: 0 8px; }
            #home main .main-content .issues li .info__txt .tag span:not(:last-child) {
              margin-right: 5px; }
      #home main .main-content .issues li:hover .info__shape img {
        filter: blur(3px) brightness(80%);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); }
      #home main .main-content .issues li:hover .info__shape figcaption {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
